{{#each menu-footer}}
  <div class="col-span-full sm:col-span-2">
    <div class="menu-footer">
      <p class="menu-footer__title">{{this.title}}</p>

      <ul class="menu-footer__list">
        <li><a href="" class="menu-footer__detail {{this.modifier}}">{{this.detail-1}}</a></li>
        <li><a href="" class="menu-footer__detail">{{this.detail-2}}</a></li>
        <li><a href="" class="menu-footer__detail">{{this.detail-3}}</a></li>
        <li><a href="" class="menu-footer__detail">{{this.detail-4}}</a></li>
        <li><a href="" class="menu-footer__detail">{{this.detail-5}}</a></li>
        <li><a href="" class="menu-footer__detail">{{this.detail-6}}</a></li>
      </ul>
    </div>
  </div>
{{/each}}