{{#each menu-footer-1}}
  <div class="menu-footer-1">
    <p class="menu-footer-1__title">{{this.title}}</p>

    <ul class="menu-footer-1__list">
      <li><a href="" class="menu-footer-1__detail {{this.modifier}}">{{this.detail-1}}</a></li>
      <li><a href="" class="menu-footer-1__detail">{{this.detail-2}}</a></li>
      <li><a href="" class="menu-footer-1__detail">{{this.detail-3}}</a></li>
      <li><a href="" class="menu-footer-1__detail">{{this.detail-4}}</a></li>
      <li><a href="" class="menu-footer-1__detail">{{this.detail-5}}</a></li>
      <li><a href="" class="menu-footer-1__detail">{{this.detail-6}}</a></li>
    </ul>
  </div>
{{/each}}